{% load static %}
{% load bhome_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Фонд Благодарение</title>
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Inter:wght@400;500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'bhome/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bhome/css/bsnav.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bhome/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bhome/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bhome/css/main.css' %}">
	<link rel="icon" href="{% static 'bhome/images/logo.png' %}" type="image/x-icon">
	<link rel="shortcut icon" href="{% static 'bhome/images/logo.png' %}" type="image/x-icon">
</head>
<body>
	<header id="header" class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<a href="#">
						<img src="{% static 'bhome/images/logo.png' %}" alt="Blarodarenie" class="logo">
					</a>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="name">
						<h1>ФОНД «БЛАГОДАРЕНИЕ»</h1>
						<p>ФОНД ПОДДЕРЖКИ И РАЗВИТИЯ ФИЗИЧЕСКОЙ КУЛЬТУРЫ И СПОРТА, ДУХОВНО-НРАВСТВЕННОГО И ПАТРИОТИЧЕСКОГО ВОСПИТАНИЯ ЛИЧНОСТИ</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="navbar navbar-expand-lg bsnav bsnav-light">
						<button class='navbar-toggler toggler-spring butbs'>
							<span class="navbar-toggler-icon"></span>
						</button>
						<nav class="collapse navbar-collapse justify-content-end">
							<ul class="navbar-nav navbar-mobile mr-0 justify-content-end">
								<li class='nav-item'>
									<a href="#about" class='nav-link'>
										О фонде
									</a>
								</li>
								<li class='nav-item'>
									<a href="#news" class='nav-link'>
										Благодарность
									</a>
								</li>
								<li class='nav-item'>
									<a href="#projects" class='nav-link'>
										Проекты
									</a>
								</li>
								<li class='nav-item'>
									<a href="#footer" class='nav-link'>
										Контакты
									</a>
								</li >					
							</ul>
					</nav>
					</div>
					<div class="bsnav-mobile">
						<div class="bsnav-mobile-overlay"></div>
						<div class="navbar bsnav-light">
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section id="about" class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>О Фонде</h2>
						<div class="ar">
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="wh">Кто мы?</div>
									<p class='wh_p'>
										 Мы благотворительный фонд. Благотворительный фонд - это общественная организация, которая занимается тем, что оказывает помощь тем, кто в этом нуждается. Акимов Антон Анатольевич, основатель фонда, считает, что помогать необходимо не только материально, но и духовно, подсказывая подрастающему поколению верный и здоровый путь!
									</p>
									<div class="wh">Чем мы занимаемся?</div>
									<p class='wh_p'>
										Основной деятельностью Фонда является развитие и поддержка спортивного и культурного духа. Наша основная цель - дать молодежи возможность заниматься спортом бесплатно, при этом, приобщая их к культурно-нравственным, патриотическим и духовным ценностям
									</p>
								</div>
								<div class="col-sm-12 col-md-6">
									<div class="ar_wh">
										<img src="{% static 'bhome/images/o_fonde.jpg' %}" class="img-fluid" alt="...">
										<!-- <img src="img/1.jpg" alt="Blago" class="ar_wh_img"> -->
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<button class = "btn1" href='{% url "about" %}'>
						<a href='{% url "about" %}'>
						Подробнее о фонде</a>
					</button>
				</div>
			</div>
		</div>
	</section>
	{% if partners %}
	<section id="news" class="section">
		<div class="container">
				<div class="row">
					<div class="col-12">
					<h2>Выражаем благодарность</h2>
					{% show_partners %}
					<div id="zatemnenie">
						<div id="okno">р/с 40701810513000000218 Центрально-Черноземный банк ПАО Сбербанк
										БИК 042007681, к/с 30101810600000000681<br>
							<a href="#" class="close">Закрыть окно</a>
							БЛАГОДАРИМ!
						</div>
    				</div>
					<button class = "btn1">
						<a href="#zatemnenie">Поддержать фонд</a>
					</button>
					</div>
				</div>
		</div>
	</section>
	{% endif %}
	{% if project_main %}
	<section id="projects" class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Проекты</h2>
						{% show_project_1tab project_main.pk %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<button class = "btn1">
						<a href="{% url 'project' project_main.slug %}">Подробнее о проекте</a>
					</button>
				</div>
				<div class="col-sm-12 col-md-6">
					<button class = "btn1">
						<a href="{% url 'projects' %}">Все проекты</a>
					</button>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4 colname">
					<div class="phone_bl">
						<a href="+74732602002">телефон:</a><br>
						<a href="tel:+74732602002">
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone ic_ph" viewBox="0 0 16 16">
							  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
							</svg>
						</a>
						<a href="tel:+74732602002" >+7 (473)-260-20-02
						</a>
					</div>
					<div class="phone_bl fax">
						<a href="+7473536780">тел./факс:</a><br>
						<a href="tel:+74732536780">
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone ic_ph" viewBox="0 0 16 16">
							  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
							</svg>
						</a>
						<a href="tel:+74732536780" >+7 (473)-253-67-80
						</a>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 colname">
					<a href = "#"><img src="{% static 'bhome/images/logo.png' %}" alt="Blarodarenie" class="logo_ft"></a>
				</div>
				<div class="col-sm-12 col-md-4 colname">
					<div class="mail_bl">
						<a href="mailto:blagodarenie.vrn@mail.ru">
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-envelope-heart" viewBox="0 0 16 16">
							  <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l3.235 1.94a2.76 2.76 0 0 0-.233 1.027L1 5.384v5.721l3.453-2.124c.146.277.329.556.55.835l-3.97 2.443A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741l-3.968-2.442c.22-.28.403-.56.55-.836L15 11.105V5.383l-3.002 1.801a2.76 2.76 0 0 0-.233-1.026L15 4.217V4a1 1 0 0 0-1-1H2Zm6 2.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
							</svg>
						</a>
					</div>
					<a href="mailto:blagodarenie_vrn@mail.ru" >blagodarenie_vrn<br>@mail.ru</a>
					<div class="geo_bl">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
						  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
						  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
						</svg>
						<a href="https://yandex.ru/maps/193/voronezh/house/ulitsa_morozova_31/Z0AYdAZlQUYAQFtrfXtzcXViZQ==/?ll=39.215837%2C51.720911&z=17.09" target="_blank">Россия, г. Воронеж, ул. Морозова, 31, индекс: 394087
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="{% static 'bhome/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'bhome/js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'bhome/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'bhome/js/ocscript.js' %}"></script>
 	<script src="{% static 'bhome/js/ripples/jquery.ripples.js' %}"></script>
	<script src="{% static 'bhome/js/bsnav.min.js' %}"></script>
	<!-- <script src="https://rawgit.com/fitodac/bsnav/master/dist/bsnav.min.js"></script> -->
	<script>
		$(function(){
			$('#header').ripples();
		});
	</script>
</body>
</html>
